@{
    ViewData["Title"] = "Home Page";
    var clientsReport = (List<NipedModel.ClientReportTO>)ViewBag.ClientsReport;

}

@if (ViewBag.Warning != null)
{
    <div class="alert alert-warning mb-3 p-2" role="alert">
        <div><i class="bi bi-exclamation-triangle-fill text-warning"></i> @ViewBag.Warning</div>
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info mb-3 p-2" role="alert">
        <div><i class="bi bi-info-circle-fill text-info"></i> @ViewBag.Message</div>
    </div>
}

<div class="row">
    <div class="col">
        <div class="card bg-transparent-at">
            <div class="card-header">
                <div class="fw-bolder">
                    Clients Report
                    <div class="text-center float-end row">
                        <form method="post" enctype="multipart/form-data" asp-action="Index" asp-route-type="guideline">
                            <input type="file" name="file" accept=".json" />
                            <button class="btn btn-primary" type="submit">Process Guidelines</button>
                        </form>
                        <form class="mt-1" method="post" enctype="multipart/form-data" asp-action="Index" asp-route-type="clientsData">
                            <input type="file" name="file" accept=".json" />
                            <button class="btn btn-primary" type="submit">Process Clients Data</button>
                        </form>
                        <form class="mt-1" method="post" enctype="multipart/form-data" asp-action="Index" asp-route-type="loadReport">
                            <input type="file" name="file" accept=".json" />
                            <button class="btn btn-success" type="submit">Load Report</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body pt-1 pb-1">
                @if (clientsReport == null || clientsReport.Count == 0)
                {
                    <div class="alert alert-info mb-3 mt-3 p-2" role="alert">
                        <div>
                            <i class="bi bi-info-circle-fill text-primary"></i> No clinet found
                        </div>
                    </div>
                }
                else
                {

                    <div class="table-responsive">
                        <table class="table table-transparent table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="align-middle text-nowrap">Client</th>
                                    <th class="align-middle text-nowrap">Metric Name</th>
                                    <th class="align-middle text-nowrap">Value</th>
                                    <th class="align-middle text-nowrap">Category</th>
                                    <th class="align-middle text-nowrap">Explanation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var clientReport in clientsReport)
                                {
                                    <tr class="table-secondary fw-bolder">
                                        <td colspan="5" class="align">@clientReport.Client.Name</td>
                                    </tr>
                                    @foreach (var reportEntry in clientReport.ReportEntries)
                                    {
                                        <tr>
                                            <td class="align-middle"></td>
                                            <td class="align-middle">@reportEntry.MetricPath</td>
                                            <td class="align-middle">@reportEntry.Value</td>
                                            <td class="align-middle">@reportEntry.Category</td>
                                            <td class="align-middle">@reportEntry.Explanation</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
